body {
    text-align: center;
    background-image: url("http://www.highrises.com/images/slideshow/288031042.jpg");

    .panel-default>.panel-heading { 
        background-color: '#17a2b8';
    }

    .container-navigation {
        margin-left: 15px;
        margin-right: 15px;
        .fa {
            position: absolute;
            font-size: 25px;
            line-height: 1.2;
            color: #383d41;
        }
        #home {
            right: 10px;            
        }
        #back {
            left: 10px;            
        }
        .fa:hover, .fa:active {
            color: indianred;
        }
    }
    //end navigation

    .container-footer {
        margin-left: 15px;
        margin-right: 15px;

        .nav {
            li {
                h4 {
                    color: #383d41;
                }
                width: 33%;
                h4:focus {
                    outline: none;
                }
                h4:focus, h4:hover, h4:active {
                    color: indianred;
                }
                a:focus, a:hover {
                    background-color: transparent;
                }
            }
        }
    }
    //end footer

    .container-home {
        max-width: 100%;
        height: 100vh;
    }
    //end home

    .weather {
        margin-top: 100px;
        padding-left: 0;
        padding-right: 0;

        .panel-body {
            div {
                img {
                    height: 75px;
                }
                h2 {
                    margin-top: 20px;
                    margin-bottom: 0;
                }
            }
        }
    }
    
    .container-forecast {
        margin-left: 15px;
        margin-right: 15px;
        height: 500px;
        margin-top: 60px;
        overflow: scroll;

        h1 {
            margin-bottom: 20px;
            margin-top: 20px;
        }

        .table>tbody>tr>td {
            vertical-align: middle;
        }
    }
}
@media screen and (min-width: 961px) {
    .weather {
        width: 60%;
    }
}