body {
    text-align: center;

    .container-navigation {
        margin-left: 15px;
        margin-right: 15px;
        .fa {
            position: absolute;
            left: 10px;
            font-size: 25px;
            line-height: 1.2;
            color: #383d41;
        }
        .fa:hover, .fa:active {
            color: indianred;
        }
    }
    //end navigation

    .container-footer {
        margin-left: 15px;
        margin-right: 15px;

        .nav {
            li {
                h4 {
                    color: #383d41;
                }
                width: 33%;
                h4:focus {
                    outline: none;
                }
                h4:focus, h4:hover, h4:active {
                    color: indianred;
                }
                a:focus, a:hover {
                    background-color: transparent;
                }
            }
        }
    }
    //end footer

    .container-home {
        max-width: 100%;
        height: 100vh;
    }
    //end home

    .weather {
        margin-top: 50px;
        padding-left: 0;
        padding-right: 0;

        .panel-heading {
            // background-color: '#18a2b9' !important;
            
            h1 {
                // color: #ddd;
            }
        }

        .panel-body {
            div {
                img {
                    height: 75px;
                }
                h2 {
                    margin-top: 20px;
                    margin-bottom: 0;
                }
            }
        }
    }
    
    .container-forecast {
        border: 1px solid red;
        margin-left: 15px;
        margin-right: 15px;

        h1 {
            margin-bottom: 20px;
        }
    }
}
@media screen and (min-width: 961px) {
    .container-today {
        width: 60%;
    }
}